body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
}

header h1 {
    float: left;
}

header nav {
    float: right;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header li {
    display: inline;
    margin-left: 20px;
}

header a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem 0;
}

h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.project {
    background: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    border-left: 5px solid #333;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
